<mat-toolbar>
    <span class="span-toolbar"><strong>Delivery Go Pay</strong></span> &nbsp;&nbsp;
    <span class="example-spacer"></span>
    <section fxLayout="row" fxLayoutGap="40px">
        <mat-icon class="icon">person_outline</mat-icon>
        <section fxLayout="column">
            <span class="user">Erick Arrasco Guevara</span>
            <span class="head">Lunes 7 de Septiembre</span>
        </section>
    </section>
    <button type="button" mat-button [matMenuTriggerFor]="menu">
        <mat-icon style="color: white;">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button type="button" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>   
        </button>
    </mat-menu>
</mat-toolbar>