.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    font-family: 'montserrat-reg';
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    height: 68px;
    position: relative;
    z-index: 1000;
}

.span-toolbar {
    font-size: 30px;
    padding-left: 60px;
}

.head {
    font-size: 12px;
    margin-top: -10px;
}

.user {
    font-size: 14px;
    font-weight: bold;
}

.icon {
    color: #00C354;
    font-size: 50px;
}