.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    font-family: 'montserrat-reg';
    background-color: #0000;
    height: 68px;
    position: -webkit-sticky;
    z-index: 1000;
}

p {
    font-size: 14px !important;
    margin: 0px;
    padding: 0px;
}

.head {
    font-size: 12px;
    margin-top: -10px;
}

.user {
    font-size: 14px;
    font-weight: bold;
}

.icon {
    color: #00C354;
    font-size: 50px;
}