:host ::ng-deep .mat-form-field-outline {
    border: 1px solid #00C354 !important;
    border-radius: 100px;
}

:host ::ng-deep .mat-form-field-outline-start {
    border: 0px solid transparent !important;
    min-width: 28px !important;
}

:host ::ng-deep .mat-form-field-outline-end {
    border: 0px solid transparent !important;
    border-radius: 0 28px 28px 0 !important;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #00C354!important;
    border-radius: 5px !important;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00C354;
    border-radius: 5px !important;
}

::ng-deep .mat-checkbox-frame {
    border-color: #00C354 !important;
    border-radius: 5px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    height: 61px;
    width: 439px;
}

:host ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon {
    display: block;
    margin-left: 15px;
}

:host ::ng-deep .mat-form-field-infix {
    border-top: 0px solid transparent !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -1.5px !important;
}

button {
    width: 439px;
    height: 61px;
    background-color: #00C354;
    color: white;
    border-radius: 28px !important;
}

:host .mat-form-field input {
    padding-left: 10px;
    height: 34px;
}

.icon {
    color: #00C354;
}