::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    height: 61px;
    width: 439px;
}

button {
    width: 439px;
    height: 61px;
    background-color: #00C354;
    color: white;
    border-radius: 28px !important;
}

.mat-form-field input {
    padding-left: 10px;
}