<section fxLayoutAlign="end none">
    <img src="./assets/img/img_login.png" width="220px" height="330px" style="opacity: 60%; position: absolute; z-index: -1;">
</section>
<section fxLayoutAlign="center center" style="height: 100%;">
    <div style="width: 360px; background-color: white;">
        <br>
        <br>
        <div style="width: 439px; margin: auto;">
            <section fxLayoutAlign="center center">
                <img src="./assets/img/delivery_go.png" width="246px" height="111px">
            </section>
            <br>
            <br>
            <h3 style="text-align: center;">¡Bienvenido!</h3>
            <form [formGroup]="form" fxLayout="column" (ngSubmit)="ingresar();">
                <br>
                <mat-form-field fxFlexFill appearance="outline">
                    <mat-icon class="icon" matPrefix>mail_outline</mat-icon>
                    <input type="text" matInput placeholder="ingrese correo" autocomplete="off" formControlName="userName">
                </mat-form-field>
                <mat-form-field fxFlexFill appearance="outline">
                    <mat-icon class="icon" matPrefix>lock_open</mat-icon>
                    <input type="password" matInput placeholder="ingrese contraseña" autocomplete="off" formControlName="password">
                </mat-form-field>
                <mat-checkbox fxLayoutAlign="end" labelPosition="before">
                    <h5>Recordar ingreso</h5>
                </mat-checkbox>
                <br>
                <button mat-raised-button type="submit" style="background-color: #00C455; color: white;">
                        <span style="color: white; ">Ingresar</span>
                    </button>
                <br>
                <br>
                <h5 style="text-align:center;text-decoration: underline;cursor: pointer;"><a style="color: #00C455;" (click)="recoveryPassword()">Olvide contraseña</a>
                </h5>
            </form>
        </div>
        <br>
        <br>
    </div>
</section>