::ng-deep .mat-form-field-outline {
    border: 1px solid #00C354 !important;
    border-radius: 100px;
}

::ng-deep .mat-form-field-outline-start {
    border: 0px solid transparent !important;
    min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
    border: 0px solid transparent !important;
    border-radius: 0 28px 28px 0 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #00C354!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00C354;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    height: 61px;
    width: 439px;
}

button {
    width: 439px;
    height: 61px;
    background-color: #00C354;
    color: white;
    border-radius: 28px !important;
}

.mat-form-field input {
    padding-left: 10px;
}

.icon {
    color: #00C354;
}