@font-face {
    font-family: montserrat;
    src: url('./assets/font/montserrat.woff') format('woff');
}

@font-face {
    font-family: montserrat-reg;
    src: url('./assets/font/montserrat-reg.woff') format('woff');
}

@font-face {
    font-family: montserrat-med;
    src: url('./assets/font/montserrat-med.woff') format('woff');
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'montserrat-reg';
}

html,
body {
    font-family: 'montserrat-reg';
    overflow-y: hidden;
    height: 100%;
}

.mat-form-field {
    font-size: 14px;
}

.mat-stroked-button {
    line-height: 30px !important;
}

.mat-raised-button {
    line-height: 30px !important;
}

.section-container {
    position: relative;
    min-height: auto;
    max-height: 100%;
    overflow: auto;
}

.mat-2 {
    font-size: 29.6px;
    color: #00C354;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    font-family: 'montserrat-med';
}