mat-sidenav-container {
    height: 100%;
}

mat-sidenav,
mat-sidenav-content {
    padding: 0px;
}

mat-sidenav {
    width: 299px;
    height: 1260px;
    overflow: auto !important;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: #00C354;
}

.icon {
    color: #00C354;
}

.footer {
    position: relative;
    clear: both;
}