mat-sidenav-container {
    height: 100%;
    background: #FFFFFF;
}

mat-sidenav,
mat-sidenav-content {
    padding: 0px;
}

mat-sidenav {
    width: 299px;
    height: 1260px;
    overflow: auto !important;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding-left: 44px;
}

ul {
    list-style: none;
}

.active {
    color: #00C354;
}

.icon {
    color: #00C354;
}

.footer {
    position: relative;
    clear: both;
}

.borde {
    border-left: 6px solid #00C354;
}

.logo {
    padding: 10px;
    margin-top: 25px;
}

.logout {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.container {
    padding: 20px;
    padding-bottom: 100px;
}