<app-header (verMenuLateral)="opened = $event"></app-header>
<mat-divider></mat-divider>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-divider></mat-divider>
        <br>
        <section fxLayoutAlign="center center">
            <img style="padding: 10px;" src="./assets/img/delivery_go.png" width="50%" alt="logo_minedu">
        </section>
        <br>
        <mat-list style="height: 72%;">
            <mat-list-item>
                <a [routerLink]="['/sales']" fxLayout="row wrap" fxLayoutAlign="center center">
                    <mat-icon mat-list-icon routerLinkActive="icon">shopping_cart</mat-icon>
                    <h5 routerLinkActive="active">Ventas</h5>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a [routerLink]="['/configuration']" fxLayout="row wrap" fxLayoutAlign="center center">
                    <mat-icon mat-list-icon routerLinkActive="icon">settings</mat-icon>
                    <h5 routerLinkActive="active">Configuraciones</h5>
                </a>
            </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item fxLayoutAlign="end">
                <a [routerLink]="['/']" fxLayout="row wrap" fxLayoutAlign="center center">
                    <mat-icon mat-list-icon routerLinkActive="icon">logout</mat-icon>
                    <h5>Cerrar sesión</h5>
                </a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: white;">
        <div style="padding: 20px;padding-bottom: 200px;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>