.detail {
    margin-top: 14px;
    font-size: 14px !important;
    font-weight: 500;
}

p {
    font-size: 15px !important;
    font-weight: bold;
}

h5,
h6 {
    padding: 0px;
    margin: 0px;
}

h5 {
    margin-top: 10px;
}

button {
    background-color: green;
    color: white;
    border-radius: 28px !important;
}

::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
}