<h2 class="mat-2"><strong>Mis configuraciones</strong></h2>
<span><strong>Realizar cambios en tus datos.</strong></span>
<br>
<br>
<br>
<mat-divider></mat-divider>
<section fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center">
    <h3>Datos de la cuenta</h3>
    <button type="button" mat-stroked-button>
        <mat-icon>save</mat-icon>
        Guardar cambios
    </button>
</section>
<br>
<br>
<section fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
    <section fxFlex>
        <section fxLayout="column">
            <section fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <h5 fxFlex>Número de cuenta bancaria :</h5>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Número de cuenta bancaria" value="08398290832912542154">
                </mat-form-field>
            </section>
            <section fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <h5 fxFlex>Tipo de Banco :</h5>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Tipo de banco" value="BCP">
                </mat-form-field>
            </section>
            <section fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <h5 fxFlex>Tipo de cuenta :</h5>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Tipo de cuenta" value="Tipo de cuenta básica">
                </mat-form-field>
            </section>
        </section>
    </section>
    <section fxFlex></section>
    <section fxFlex></section>
</section>