h2 {
    color: #00C354;
    margin-bottom: 10px;
}

::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
}

::ng-deep .mat-form-field-flex {
    height: 35.88px;
    align-items: center !important;
}

.mat-form-field {
    min-width: 150px;
    padding-top: 20px;
}

button {
    background-color: #00C354;
    color: white;
    border-radius: 28px !important;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-header-cell {
    font-size: 14px;
    color: black;
}

.filter {
    font-size: 14px;
    font-weight: bold;
}

.my-form {
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
}

.active {
    background-color: #00C354;
    color: white;
}

.desactive {
    background-color: white;
    color: black;
}