<section fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
    <br>
    <div style="width: 360px; background-color: white;">
        <br>
        <br>
        <div style="width: 439px; margin: auto;">
            <section fxLayoutAlign="center center">
                <img src="./assets/img/delivery_go.png" width="50%" alt="logo_minedu">
            </section>
            <br>
            <h3 style="text-align: center;">¡ Bienvenido !</h3>
            <br>
            <section *ngFor="let element of listCommerces">
                <button mat-raised-button type="submit" style="background-color: #F1FFF7;border: 2px solid #00C354;" (click)="getIntoCommerce(element.idCommerce)">
                    <span style="color: #00C354; ">{{element.nameCommerce}}</span>
                </button>
                <br>
                <br>
            </section>
            <button mat-raised-button type="submit" style="background-color: #00C455; color: white;" (click)="createCommerce()">
                    <span style="color: white; ">Crear comercio</span>
            </button>
        </div>
        <br>
        <br>
    </div>
</section>